<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello,Spring Security</h1>
<p>这是没有受保护的页面</p>
<div th:fragment="logout" sec:authorize="isAuthenticated()">
    登录用户：<span sec:authentication="name"></span>
    用户角色：<span sec:authentication="principal.authorities"></span>
</div>
<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="退出"/>
</form>
<p><a href="#" th:href="@{/oauth/getAuth}">点击</a></p>
</body>
</html>