<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Login Page</h1>
<p th:if="${loginError}" class="error">用户或密码错误</p>
<form th:action="@{/login}" method="post">
    <label for="username">username:</label>
    <input type="text" id="username" name="username" autofocus="autofocus"/>
    <br/>
    <label for="password">password:</label>
    <input type="password" id="password" name="password"/>
    <br/>
    <input type="submit" value="Login"/>
</form>
<p><a href="/index" th:href="@{/index}">返回首页</a></p>
</body>
</html>